:root{
    --peach: #ffdab9;
    --dark: #2f4f4f;
    --cyan:  #e0ffff;
    --brown: #3e2723;
    --green: #90ee90;
}

* {
    box-sizing: border-box;
}

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#nav-container{
    background-color: var(--cyan);
    position: sticky;
    top: 0px;
}

.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.nav-flex label , #humberger{
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: var(--dark);
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
}

nav ul li a:hover{
    background-color: var(--peach);
    transition: all 0.3s;
}

.nav-brand h2 {
    margin: 14px 0 0 10px;
    color: var(--dark);
}

#hero-container{
    background-image: url('../image/hero_image.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}

.text {
    text-align: center;
    color: var(--cyan);
    font-size: 24px;
}

.button {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    background-color: var(--green);
    padding: 10px;
    color: var(--brown);
    font-size: 16px;
    border-radius: 10px;
}

.button:hover{
    background-color: var(--dark);
    color: var(--cyan);
}

main {
    width: 80%;
    margin: auto;
}
/* about */
#about h1{
    text-align: center;
    color: var(--dark);
    margin-top: 80px;
}
#about .about-deskripsi{
    text-align: center;
    color: var(--dark);
}
.about-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px auto;
}
.about-image, .about-text {
    width: 50%;
    margin: 14px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
/* services */
#services h1{
    text-align: center;
    color: var(--dark);
    margin-top: 80px;
}
#services .services-deskripsi{
    text-align: center;
    color: var(--dark);
}

.services-flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
}

.services-items{
    width: 25%;
    text-align: center;
    padding: 20px 10px;
}
.services-items h3{
    text-transform: uppercase;
}

.services-items .fas{
    font-size: 48px;
    color: var(--peach);
}

/* versi tablet */
@media screen and (max-width:768px) {
    /*  */
    #nav-container .nav-flex label {
        display: inline-block;
        color: var(--dark);
        font-style: normal;
        font-size: 32px;
        padding: 8px;
    }

    /* susun ulang menu */
    #nav-container .nav-flex {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav ul li a {
        display: block;
        color: var(--dark);
        background-color: var(--cyan);
        padding: 0 30px;
        height: auto;
    }

    .nav-brand h2 {
        position: absolute;
        right: 20px;
    }

    /*  menyembunyikan menu */
    #nav-container nav {
        display: none;
    }

    /* menampilkan menu*/
    #nav-container .nav-flex input:checked ~ nav {
        display: block;
    }

    /* about */
    .about-flex {
        flex-direction: column;
    }
    .about-image, .about-text {
        width: auto;
       
    }

    /* services */
    .services-items{
        width: 50%;
    }

}

/* smart phone */
@media screen and (max-width:480px) {
    /* services */
    .services-items{
        width: 100%;
    }
}