:root{
    --peach: #ffdab9;
    --dark: #2f4f4f;
    --cyan:  #e0ffff;
    --brown: #3e2723;
    --green: #90ee90;
}

* {
    box-sizing: border-box;
}

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
html{
    scroll-behavior: smooth;
}

#nav-container{
    background-color: var(--cyan);
    position: sticky;
    top: 0px;
    z-index: 100;
}

.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.nav-flex label , #humberger{
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: var(--dark);
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
}

nav ul li a:hover{
    background-color: var(--peach);
    transition: all 0.3s;
}

.nav-brand h2 {
    margin: 14px 0 0 10px;
    color: var(--dark);
}

#hero-container{
    background-image: url('../image/hero_image.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}

.text {
    text-align: center;
    color: var(--cyan);
    font-size: 24px;
}

.button {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    background-color: var(--green);
    padding: 10px;
    color: var(--brown);
    font-size: 16px;
    border-radius: 10px;
}

.button:hover{
    background-color: var(--dark);
    color: var(--cyan);
}

main {
    width: 80%;
    margin: auto;
}
/* about */
#about h1{
    text-align: center;
    color: var(--dark);
    margin-top: 80px;
}
#about .about-deskripsi{
    text-align: center;
    color: var(--dark);
}
.about-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px auto;
}
.about-image, .about-text {
    width: 50%;
    margin: 14px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* services */
#services h1{
    text-align: center;
    color: var(--dark);
    margin-top: 80px;
}
#services .services-deskripsi{
    text-align: center;
    color: var(--dark);
}

.services-flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
}

.services-items{
    width: 25%;
    text-align: center;
    padding: 20px 10px;
}
.services-items h3{
    text-transform: uppercase;
}

.services-items .fas{
    font-size: 48px;
    color: var(--peach);
}

/* catalog */
#catalog h1{
    text-align: center;
    color: var(--dark);
    margin-top: 80px;
}
#catalog .catalog-desc{
    text-align: center;
    color: var(--dark);
}

.catalog-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}
.catalog-items{
    width: 25%;
    text-align: center;
    padding: 20px 10px;
}

.catalog-items img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.catalog-items h3{
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0;
    color: var(--dark);
}
.catalog-items p{
    color: var(--dark);
    font-size: 14px;
}
.price-chat-container{
    border-bottom: 2px solid var(--peach);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
}

.price-harga span{
    font-size: 14px;
    color: var(--dark);
    font-weight: bold;
}

.chat-button a{
    text-decoration: none;
    background-color: var(--green);
    color: var(--brown);
    padding: 5px;
    border-radius: 8px;
    font-size: 12px;
}

.chat-button a:hover{
    background-color: var(--dark);
    color: var(--cyan);
}

/* portfolio */
#portofolio h1{
    text-align: center;
    color: var(--dark);
    margin-top: 80px;
}
#portofolio .portofolio-deskripsi{
    text-align: center;
    color: var(--dark);
}

.portofolio-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px auto;
}
.portofolio-items{
    width: 25%;
    padding: 10px;
    overflow: hidden;
}

.portofolio-items img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.portofolio-items img:hover{
    transform: scale(1.05);
    transition: all 0.3s;
    opacity: 0.8;
}

/* contact */
#contact h1{
    text-align: center;
    color: var(--dark);
    margin-top: 80px;
}
#contact .contact-deskripsi{
    text-align: center;
    color: var(--dark);
}
.contact-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px auto;
}
.maps{
    width: 60%;
    margin: 14px;
}
.maps h3{
    color: var(--dark);
    text-align: center;
}
.maps iframe{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.social-media{
    width: 40%;
    padding: 10px;
}

.social-media h3{
    color: var(--dark);
    text-align: center;
}
.social-media a{
    width: 100%;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
    
    padding: 5px;
    border-radius: 8px;
}
.facebook{
    background-color: #3b5998;
    color: white;
}
.instagram{
    background-color: #e4405f;
    color: white;
}
.twitter{
    background-color: #55acee;
    color: white;
}

.linkedin{
    background-color: #0077b5;
    color: white;
}

.whatsapp{
    background-color: #25d366;
    color: white;
}

.telegram{
    background-color: #0088cc;
    color: white;
}

.youtube{
    background-color: #ff0000;
    color: white;
}
.social-media a:hover{
    background-color: var(--dark);
    color: var(--cyan);
}

/* footer */
.footer-container{
    background-color: var(--cyan);
    padding: 30px 5px;
    margin-top: 50px;
    color: var(--dark);
    font-size: 14px;
    text-align: center;
}

.footer-container a{
    text-decoration: none;
    color: var(--dark);
}

.footer-container a:hover{
    color: var(--peach);
}

.footer-flex{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-flex section{
    width: 25%;
    margin: 10px 0;
}

.footer-flex section ul{
    list-style-type: none;
    padding: 0;
}

.footer-copy-right{
   width: 100%;
   display: flex;
   margin-top: 50px;
   flex-flow: row wrap;
   justify-content: space-evenly;
   padding: 10px 0;
}
/* versi tablet */
@media screen and (max-width:768px) {
    /*  */
    #nav-container .nav-flex label {
        display: inline-block;
        color: var(--dark);
        font-style: normal;
        font-size: 32px;
        padding: 8px;
    }

    /* susun ulang menu */
    #nav-container .nav-flex {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav ul li a {
        display: block;
        color: var(--dark);
        background-color: var(--cyan);
        padding: 0 30px;
        height: auto;
    }

    .nav-brand h2 {
        position: absolute;
        right: 20px;
    }

    /*  menyembunyikan menu */
    #nav-container nav {
        display: none;
    }

    /* menampilkan menu*/
    #nav-container .nav-flex input:checked ~ nav {
        display: block;
    }

    /* about */
    .about-flex {
        flex-direction: column;
    }
    .about-image, .about-text {
        width: auto;
       
    }

    /* services */
    .services-items{
        width: 50%;
    }

    /* catalog */
    .catalog-items{
        width: 50%;
    }
    .portofolio-items{
        width: 50%;
    }

    .contact-flex{
        flex-direction: column;
    }
    .maps, .social-media{
        width: auto;
    }

    .footer-flex section{
        width: 48%;
    }

}

/* smart phone */
@media screen and (max-width:480px) {
    /* services */
    .services-items{
        width: 100%;
    }

    /* catalog */
    .catalog-items{
        width: 100%;
    }

    .portofolio-items{
        width: 100%;
    }

    .footer-flex section{
        width: 100%;
        margin-top: 10px;
    }
}