:root{
    --peach: #ffdab9;
    --dark: #2f4f4f;
    --cyan:  #e0ffff;
    --brown: #3e2723;
    --green: #90ee90;
}

* {
    box-sizing: border-box;
}

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#nav-container{
    background-color: var(--cyan);
    position: sticky;
    top: 0px;
}

.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.nav-flex label , #humberger{
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: var(--dark);
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
}

nav ul li a:hover{
    background-color: var(--peach);
    transition: all 0.3s;
}

.nav-brand h2 {
    margin: 14px 0 0 10px;
    color: var(--dark);
}

/* versi tablet */
@media screen and (max-width:768px) {
    /*  */
    #nav-container .nav-flex label {
        display: inline-block;
        color: var(--dark);
        font-style: normal;
        font-size: 32px;
        padding: 8px;
    }

    /* susun ulang menu */
    #nav-container .nav-flex {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav ul li a {
        display: block;
        color: var(--dark);
        background-color: var(--cyan);
        padding: 0 30px;
        height: auto;
    }

    .nav-brand h2 {
        position: absolute;
        right: 20px;
    }

    /*  menyembunyikan menu */
    #nav-container nav {
        display: none;
    }

    /* menampilkan menu*/
    #nav-container .nav-flex input:checked ~ nav {
        display: block;
    }
}